{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<br><br>
<center><i>Pay with M-Pesa (STK Push)</i></center>
<br><br>

<div class="container" style="text-align:center; padding-left:300px;">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="height:400px; width:600px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="{% url 'stk_push' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="2547XXXXXXXX" required>
                        </div>

                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="text" class="form-control" id="amount" name="amount" value="{{ total }}" readonly>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg btn-block">Pay with M-Pesa</button>
                    </form>
                </div>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">{{ total }}</span> Final Payment</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock content %}
